@import "../bower_components/foundation/scss/foundation/components/grid";
@import "../bower_components/foundation/scss/foundation/components/labels";
@import "../bower_components/foundation/scss/foundation/components/type";
$fa-font-path: '../bower_components/font-awesome/fonts';
@import "../bower_components/font-awesome/scss/font-awesome";
@import url("fonts.css");

.moon-background
{
  background-image: url("../images/header-background.jpg");
  width: 100%;

}

.calendarContainer{
  text-align: center;
  background-color: #0c5ca2;
}

.successMessage{
  text-align: center;
  font-size: large;
  margin-top: 40%;
  padding-bottom: 60%;
}
.errorMessage{
  min-height: 30px;
  color:red;
}

#nav-wrap
{
  font: 11px 'montserrat-bold', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  float: left;
  z-index: 9999;

  position: absolute;
  top: 12px;
  right: 30px;

  ul#nav {
    padding: 24px 36px 36px 36px;
    height: auto;
    width: auto;
    clear: both;
    display: none;
    background: #111;
    background: rgba(0, 0, 0, .8);
    border-radius: 3px;

    position: relative;
    top: 54px;
    right: 30px;

    li
    {
      display: block;
      height: auto;
      text-align: left;
      border-bottom: 1px solid #202226;
      border-bottom-style: dotted;

      a
      {
        &:hover {color: #0c5ca2;}
        &:active { background-color: transparent; }
        display: block;
        width: auto;
        padding: 0;
        margin: 12px 0;
        line-height: 16px; /* reset line-height from 54px */
        border: none;
        color: #fff;
        transition: color .2s ease-in-out;
      }



    }

  }

  &:not( :target ) > a:first-of-type, .no-js #nav-wrap:target > a:last-of-type
  {
    display: block;
  }

  > a
  {
    display: none;
    text-align: left;
    border: none;
    height: 54px;
    line-height: 54px;
    float: right;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    position: absolute;
    top: 0;
    right: 36px;

    &:before
    {
      font-family: 'FontAwesome', sans-serif;
      content: "\f0c9";
      color: #fff;
      margin: 0;
      font-size: 25px;
      line-height: 54px;
      text-align: left;
      display: block;
      float: right;

    }
  }

}


.intro
{
  margin-top: 50px;
}



h1
{
  font: 35px/1.2em 'montserrat-bold', sans-serif;
  color:#ffffff;
  text-decoration: underline;
}

p
{

}

h3{
  font-family: 'montserrat-bold', sans-serif;
  color: #0c5ca2;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .7);
}
h5
{
  font: 13px/24px 'montserrat-bold', sans-serif;
  color: #0c5ca2;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .7);
}

body
{
  font-family: 'montserrat-bold', sans-serif;
  color:#ffffff;
}

@mixin mainButton()
{
  font-family: 'montserrat-regular', sans-serif;
  font-size: 20px;
  color: white;
  line-height: 30px;
  height: 54px;
  padding: 12px 30px;
  margin: 25px auto;
  border-radius: 5px;
  border: none;
  background-image: -webkit-gradient(
                  linear,
                  left top,
                  right bottom,
                  color-stop(0, #3D7DB5),
                  color-stop(1, #0C5CA2)
  );
  background-image: -o-linear-gradient(right bottom, #3D7DB5 0%, #0C5CA2 100%);
  background-image: -moz-linear-gradient(right bottom, #3D7DB5 0%, #0C5CA2 100%);
  background-image: -webkit-linear-gradient(right bottom, #3D7DB5 0%, #0C5CA2 100%);
  background-image: -ms-linear-gradient(right bottom, #3D7DB5 0%, #0C5CA2 100%);
  background-image: linear-gradient(to right bottom, #3D7DB5 0%, #0C5CA2 100%);
  box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.4), 0 0 1px 1px rgba(86, 172, 239, 0.25) inset;
  width: 30%;

  &:hover
  {
    background: #fff;
    color: #0c5ca2;
  }
}


.mainButton {

  @include mainButton();

}

.smallMainButtonActive{
  @include mainButton();
  background: #0c5ca2;
  color: white;
  width: 15%;
  padding: 5px;
  &:hover{
    background: #0c5ca2;
    color: white;
  }
}


.smallMainButton{
  @include mainButton();
  width: 15%;
  padding: 5px;
  background: white;
  color:#0c5ca2;
  &:hover{
    background: white;
    color: #0c5ca2;
  }



}



.psnSubmit
{
  display: block;
  font-size: 20px !important;
  color: #0c5ca2 !important;
  line-height: 30px !important;
  height: 54px !important;
  border-radius: 5px !important;
  border: none !important;
  background-color: #ffffff !important;
  width: 100%;
  padding-left:30px !important;
  background-image: url("../images/psnid.png");
  background-position: 10px center !important;
  background-repeat: no-repeat !important;
  text-indent: 30px !important;
}

.psnSubmit:focus
{
  border:none !important;
  padding-left:30px !important;
  background-image: url("../images/psnid.png") !important;
  background-position: 10px center !important;
  background-repeat: no-repeat !important;
  text-indent: 30px !important;
}

.sFormLabel
{
  margin-right:4px;
  margin-bottom: 20px;
  margin-top: 10px;
  vertical-align:top;
  display:block;
  text-align: center;
  font-family:'montserrat-regular', sans-serif;
  font-size: 20px;
  color: white !important;
}

@media (max-width:557px )
{
  .roundButton
  {
    width: 60%;
  }


}




.counter {
  width: 75%;
  color: #fff;
  text-align: center;
  margin: 18px auto 0;
}
.counter span {
  font: 70px/1em 'merriweather-bold', serif;
  display: block;
  padding: 12px 0 30px;
  min-width: 25%;
  float: left;
  text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
  border-left: 1px dotted rgba(255, 255, 255, .2);
}
.counter span:first-child { border-left: none; }
.counter span em {
  font: 11px/18px 'montserrat-regular', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 12px;
  display: block;
  color: #BCBCBC;
  color: rgba(255, 255, 255,.6);
  text-shadow: 0 1px 2px rgba(0, 0, 0, .7);
}

/* default screen, non-retina */
.moon-background { background-image: url("../images/header-background.jpg"); }

@media only screen and (max-width: 320px) {
  /* Small screen, non-retina */
  .moon-background { background-image: url("../images/header-background.jpg"); }
}

@media only screen and (min-width: 321px) and (max-width: 538px) {
  /* Medium screen, non-retina */
  .moon-background { background-image: url("../images/header-background.jpg"); }
}

